<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.darc.ominous.game.mappers.UserMapper">
    <update id="createUser" statementType="CALLABLE"> {call crt_usr(#{id}, #{username}, #{email},
        #{password})} </update>

    <select id="findUserByCredentials" resultType="UserEntity">
        SELECT * FROM usr 
            WHERE (
                id = #{id, jdbcType=VARCHAR} OR 
                username = #{username, jdbcType=VARCHAR} OR 
                email = #{email, jdbcType=VARCHAR}) 
            ORDER BY id 
            FETCH FIRST ROW ONLY
    </select>
</mapper>